.entryTittle {
  margin: 15px 0px 10px 0px;
}
.entryContent{
  margin: 0px 0px 10px 2rem;
}

.entryImgs{
  margin-block: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 40vw;
}
.entryImg {
  display: flex;
  flex-direction: column;
}
.entryImg>p {
  margin: 0px;
}

.imgSmall { width: calc(40vw / 3 - 1rem); }
.imgNormal { width: calc(40vw / 2 - 1rem); }
.imgBig { width: 40vw; }

@media (max-width:1000px) { 
  .main { max-width: 60vw; } 
  .entryImgs { width: 60vw; }
  .imgSmall { width: calc(60vw / 3 - 1rem); }
  .imgNormal { width: calc(60vw / 2 - 1rem); }
  .imgBig { width: 60vw; }
}
@media (max-width:800px)  { 
  .main { max-width: 70vw; }
  .entryImgs { width: 70vw; }
  .imgSmall { width: calc(70vw / 2 - 1rem); }
  .imgNormal { width: 70vw; }
  .imgBig { width: 70vw; }
}
@media (max-width:600px)  { 
  .main { max-width: 90vw; } 
  .entryImgs { width: 90vw; }
  .imgSmall { width: calc(90vw / 2 - 1rem); }
  .imgNormal { width: 90vw; }
  .imgBig { width: 90vw; }
}
@media (max-width:451px)  { 
  .main { max-width: 90vw; } 
  .entryImgs { width: 90vw; }
  .imgSmall { width: 89vw; }
  .imgNormal { width: 90vw; }
  .imgBig { width: 90vw; }
}