:root {
  --bg-color: #000000;
  --fg-color: #090909;
  --text-color: #EEEEEE;
  --primary-color: #20C20E;
  --secondary-color: #20C20E;
}

::selection {
  color: var(--text-color);
  background-color: var(--primary-color);
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  src: url(../fonts/IosevkaExt.ttf);
}

* {
  scroll-behavior: smooth;
  scroll-margin-top: 10px;

  line-height: 1.5rem;
  font-size: 1.1rem;
  text-underline-offset: 2px;
}

html {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Iosevka;
  font-size: small;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--bg-color);
}
body {
  margin: 0px;
}

::-moz-horizontal-scrollbar {
  height: 1px !important;
}

h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  text-wrap: nowrap;
}

h2 {
  font-size: large;
  text-wrap: nowrap;
}

p {
  text-align: left;
}
small {
  font-size: 0.8rem;
}

pre {
  margin-left: 2rem;
}

br {
  margin-bottom: 10px;
}

mark {
  font-size: inherit;
  color: var(--primary-color);
  font-weight: bold;
  background-color: unset;
}
strong {
  color: var(--primary-color);
  font-weight: bolder;
}
em {
  color: var(--primary-color);
  font-style: italic;
}
u {
  text-decoration-color: var(--primary-color);
}

a {
  color: var(--primary-color);
}
a:visited, a:visited>em, a:visited>strong {
  color: var(--secondary-color);
}

button {
  background-color: var(--bg-color);
  border-width: 0px;
  padding: 0px;
}

ul {
  margin-block: 0px;
  list-style: none;
}
li {
  display: flex;
  gap: 0.5rem;
}
ul>li:before {
  content: "+";
}

.main {
  margin: 40px auto;
  max-width: 40vw;
}