.center {
  justify-content: center;
}
.centerText {
  text-align: center;
}
.nobr {
  display: inline;
}
.noBreak {
  white-space: nowrap;
}
.noMargin {
  margin: 0px !important;
}
.noBold {
  font-weight: normal !important;
}
.noRecolor {
  color: var(--text-color) !important;
}
.notIntractable {
  user-select: none;
  pointer-events: none;
}
.hideScroll {
  overflow-x: hidden !important;
}
.tab {
  padding-left: 2rem;
}
.hidden {
  display: none !important;
}